@import '../../global.scss';

.portfolioList {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  
  @include mobile {
    margin-right: 20px;
  }

  h1{
    overflow: hidden;
  }

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
